.actualites {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Vidéos de fond --- */
.video-background {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.video-slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.video-slide.active {
    opacity: 1;
}

/* --- Superposition sombre --- */
.overlay {
    position: absolute !important;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Contenu principal --- */
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 800px;
}

.title-actu {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.description-actu {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
}

/* --- Cartes d'actualité --- */
.news-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.news-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 1.2rem;
    border-radius: 10px;
    max-width: 400px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
    text-decoration: none;
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card h3 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.news-card p {
    color: #ddd;
    font-size: 0.9rem;
    line-height: 1.4;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

.actualites-2 {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 1rem;
}

.description-actu-2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #000000;
}

.news-card-2 {
    background: #eeeeee;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 1rem;
    transition: transform 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-card-2:hover {
    transform: translateY(-5px);
}

.news-content h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.news-content p {
    font-size: 0.9rem;
    color: #575758;
    margin-bottom: 1rem;
}

.news-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.news-link {
    text-decoration: none;
    color: #575758;
    font-weight: bold;
}

.news-link:hover {
    color: #222730;
}

/* --- Responsive --- */
@media (max-width: 1250px) {
      .news-card-2 {
        max-width: 600px;
        margin: 1rem;
    }
}


@media (max-width: 768px) {

    .news-card {
        width: 90%;
    }

    .map-container iframe {
        height: 350px;
    }

    .map-title {
        font-size: 1rem;
    }


}