.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-weight: 500;
}

.nav a:hover {
    color: #919191;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger.open .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
}

.burger.open .bar:nth-child(2) {
    opacity: 0;
}

.burger.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.bar {
    height: 3px;
    background-color: rgb(210, 210, 210);
    margin: 3px 0;
    border-radius: 3px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 250px;
        height: calc(100vh - 70px);
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        padding: 40px 20px;
        gap: 25px;
        transition: 0.4s ease;
    }

    .nav.open {
        right: 0;
    }

    .burger {
        display: flex;
    }
}