.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
   color: rgb(210, 210, 210);
  font-weight: 500;
}

.nav a:hover {
  color: #919191;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  height: 3px;
  background-color: rgb(210, 210, 210);
  margin: 3px 0;
  border-radius: 3px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
