.footer{
    background: black;
    height: 30px;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
}

.footer p{
    color: white;
    margin: 0.5rem;
}

.footer span{
    color: #ffcc00;
     margin-left: 0.5rem;
     margin-right: 0.3rem;
}