.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay h2 {
    color: rgb(210, 210, 210);
    font-size: 3rem;
    text-align: center;
    animation: shineSoft 2.5s ease-in-out infinite;
}

@keyframes shineSoft {
    0% {
        opacity: 0.85;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    }

    50% {
        opacity: 1;
        text-shadow: 10px 0px 20px rgba(255, 255, 255, 0.8);
    }

    100% {
        opacity: 0.85;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

@media (max-width: 820px) {
    .overlay h2 {
        font-size: 2rem;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .description-sortie  {
        font-size: .8rem !important;
    }

}

